*{
	margin: 0;
	padding: 0;
}

body{

	background-color: #0078c2;
	color :white;

}

div{
	height: 30%;
    width: 60%;
    margin: 0 auto;
    margin-top: 45px;
}

input{
	    margin-top: 22px;
}

label{
	 font-size: 20px;
}

fieldset{
	    margin-top: 30px;
	    border: 0;
	        font-size: 30px;
}

.erreur{
	color: red;
}

#banner{
	    width: 500px;
	    margin: 0 auto;
}